@import 'easings';
@import '~breakpoint-sass';
@include breakpoint-set('transform resolutions', false);

$white : rgb(255, 255, 255);
$black : rgb(0, 0, 0);

$extra-large : 2000;
$large       : 1400;
$medium      : 1200;
$small       : 992;
$extra-small : 768;

$xl:      $large       + 0px $extra-large - 1px;
$lg:      $medium      + 0px $large - 1px;
$md:      $small       + 0px $medium - 1px;
$sm:      $extra-small + 0px $small - 1px;

$xl-down: 0 $extra-large - 1px;
$lg-down: 0 $large - 1px;
$md-down: 0 $medium - 1px;
$sm-down: 0 $small - 1px;
$xs:      0 $extra-small - 1px;

/* stylelint-disable */
:export {
  xl: $extra-large;
  lg: $large;
  md: $medium;
  sm: $small;
  xs: $extra-small;
}
/* stylelint-enable */
